<DOCTYPE html>
    <html>
        <head>
            {{ partial "head.html" . }}
        </head>
        <body class="with-sidebar">
            <div id="pageheader">{{ partial "header.html" . }}</div>
            <div class="pagetitle padding-bottom">
                <h1>{{ .Title }}</h1>
                <p>The official website of World of SteelCraft were some information from server is shared to community members and newcomers.</p>		
            </div>
            <div id="pagecontent">
                <div id="homepage-woscsmpsection" class="row padding border">
                    <div class="column">
                        <h4>World of SteelCraft SMP</h4>
                        <p>A SMP Server founded and owned by Scary Master Playz that was started from July 27, 2020, growing and has 20+ friendly members.</p>
                    </div>
                    <div class="column">
                        <a class="button button-green" href="/server/smp/">Server Info</a><a class="button button-green" href="https://link.worldofsteelcraft.tk/smp-save">Join server(Members Only)</a></a>
                    </div>
                </div>            
                <div id="homepage-woscsmpseasondlsection" class="row padding border">
                    <div class="column">	
                        <h4>Season Downloads</h4>
                        <p>Every Season end, we provide download links for the members so they can check their builds, items and others after the season change.</p>
                    </div>
                    <div class="column">
                        <a class="button button-seasondownloaddirect" href="/season-download/season-7/">Season 7 Download</a><a class="button button-green" href="/season-download">Season Download</a>
                    </div>
                </div>
            </div>
            <div id="sidebar">
                {{ partial "sidebar.html" . }}
            </div>
            <div id="pagenotice"></div>
            <div id="pagefooter">{{ partial "footer.html" . }}</div> 
        </body>
    </html>