            a:link {
  			color: skyblue;
 			background-color: transparent;
 			text-decoration: none;
			}
			a:visited {
  			color: skyblue;
 			background-color: transparent;
 			text-decoration: none;
			}

			.collapsible {
			text-align:center;
			display:flex;
			align-items:center;
			justify-content:center;
  			padding:5px;
  			margin-left:auto;
  			margin-right:auto;
  			background-color: #777;
  			color: white;
  			width:50%;
  			cursor: pointer;
  			padding: 18px;
  			border: 10px;
  			text-align: left;
  			outline: none;
			}

			.active, .collapsible:hover {
  			background-color: #555;
			}

			.content {
  			display: none;
  			overflow:hidden;
  			background-color: transparent;
			}
