<DOCTYPE html>
    <html>
        <head>
            <meta name="theme-color" content="#32e532">
            <link rel="stylesheet" href="/style/main.css">
            <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
            <script src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="manifest" href="manifest.json">
            <script src="./scripts/browser-update.js"></script>
            <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <!--Hide all content and display error message-->
            <noscript><div id="errormessage">
                <h2>Error</h2>
                <h1>Javascript is off</h1><p>Website cannot be displayed properly because Javascript is turned off</p>
                <h3>What should I do?</h3><p>Enable Javascipt, and reload this page</p>
            </div><style>#pagecontent{display:none;}</style></noscript>
            <!--Script to call the header-->
            <script>$(function(){ $("#pageheader").load("/header.html");$("#pagecontent-notice").load("/notice.html");$("#pagefooter").load("/footer.html");});</script>
            <title> | World of SteelCraft</title>
            <!-- Meta Tag | Primary Meta Tags -->
            <meta name="title" content=" | World of SteelCraft">
            <meta name="description" content="">
            <!-- Meta Tag | Open Graph / Facebook -->
            <meta property="og:type" content="website">
            <meta property="og:url" content="https://next.worldofsteelcraft.tk/">
            <meta property="og:title" content=" | World of SteelCraft">
            <meta property="og:description" content="">
            <meta property="og:image" content="https://files.worldofsteelcraft.tk/assets/web/logo.png">
            <!-- Meta Tag | Twitter -->
            <meta property="twitter:card" content="summary_large_image">
            <meta property="twitter:url" content="https://next.worldofsteelcraft.tk">
            <meta property="twitter:title" content=" | World of SteelCraft">
            <meta property="twitter:description" content="">
            <meta property="twitter:image" content="https://files.worldofsteelcraft.tk/assets/web/logo.png">
        </head>
        <body>
            <div id="pageheader"></div>
            <div id="pagecontent">
            	<div class="pagetitle padding-bottom"></h1></div>
				<div id="section-1" class="padding border">
                        <zero-md><template><link rel="stylesheet" href="/style/main.css"></template><script type="text/markdown" data-dedent>
                        /*Markdown here*/
                        </script></zero-md>
            <div id="pagefooter"></div>
        </body>
    </html>
