backend:
  name: git-gateway
  branch: main
  
media_folder: "static/uploads" 
public_folder: "uploads"

collections:
  - name: "blog" # Used in routes, e.g., /admin/collections/blog
    label: "Blog" # Used in the UI
    folder: "content/blog" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime", picker_utc: false}
      - {label: "Draft", name: "draft", widget: "boolean", default: true, required: true}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Permalink", name: "permalink", widget: "string", required: false}
      - {label: "Use Custom Preview Image", name: "customPagePreviewImage", widget: "boolean", default: false}
      - {label: "Custom Preview Image", name: "customPagePreviewImageURL", widget: "image", required: false}
      - {label: "Exclude from Sitemap", name: "sitemapExclude", widget: "boolean", required: true, default: false }