<!DOCTYPE html>
    <html>
        {{ block "head" . }}
        <head>
            {{ partial "head.html" . }}
        </head>
        {{end}}
        <body>
            {{ block "header" . }}
            <div id="pageheader">{{ partial "header.html" . }}</div>
		    {{ end }}
            {{ block "main" . }}
            {{ end }}
            {{ block "sidebar" . }}
            <div id="sidebar">
                    {{ partial "sidebar.html" . }}
            </div>
            {{ end }}
            {{ block "footer" . }}
            <div id="pagefooter">{{ partial "footer.html" . }}</div>
            {{ end }}
            {{ block "footer-scripts" . }}
            <div id="pagefooter-scripts">{{ partial "footer-scripts.html" . }}</div>
            {{end}}
            {{ block "zoom-block" . }}
            <template id="zoom-template" style="background-color:transparent;">
                <div id="zoom-container" style="margin-top:-150px;top:0;left:0;right:0;bottom:0;width:100%;position:fixed;"></div>
            </template>
            {{ end }}
        </body>
    </html>
