{{ print "<!--Inside Site Scripts -->" | safeHTML }}
<script>
	if (window.netlifyIdentity) {
	  window.netlifyIdentity.on("init", user => {
		if (!user) {
		  window.netlifyIdentity.on("login", () => {
			document.location.href = "/admin/";
		  });
		}
	  });
	}
</script>
<script>
  window.OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "c297670d-63a2-4232-8f52-a8602fdffc33",
    });
  });
</script>
<script src="./scripts/browser-update.js"></script>
<script> 
	window.fbAsyncInit = function() { 
		FB.init({ 
		appId : '2932203920349027', 
		xfbml : true, 
		version : 'v3.2' 
	}); 
	// Get Embedded Video Player API Instance 
		var my_video_player; 
		FB.Event.subscribe('xfbml.ready', function(msg) { 
		if (msg.type === 'video') { 
		my_video_player = msg.instance; 
		} 
	}); 
};
</script> 
{{ print "<!--Outside Site Scripts -->" | safeHTML }}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<div id="fb-root"></div> <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.6/medium-zoom.min.js" integrity="sha512-N9IJRoc3LaP3NDoiGkcPa4gG94kapGpaA5Zq9/Dr04uf5TbLFU5q0o8AbRhLKUUlp8QFS2u7S+Yti0U7QtuZvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>	
	const images = Array.from(document.querySelectorAll(".zoomable-img"));
	images.forEach(img => {
	  mediumZoom(img, {
		margin: 0, /* The space outside the zoomed image */
		scrollOffset: 70, /* The number of pixels to scroll to close the zoom */
		container: '#zoom-container', /* The viewport to render the zoom in */
		template: '#zoom-template' /* The template element to display on zoom */
	  });
	});
</script>
<script src="https://apis.google.com/js/platform.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<!--<script src="https://cdn.jsdelivr.net/github-cards/latest/widget.js"></script>-->