<noscript><div id="errormessage">
    <h2>Error</h2>
    <h1>Javascript is off</h1><p>Website cannot be displayed properly because Javascript is turned off</p>
    <h3>What should I do?</h3><p>Enable Javascipt, and reload this page</p>
</div><style>#pagecontent{display:none;}</style></noscript>
{{ print "<!--Inside Site Scripts-->"  | safeHTML }}
<script>$(function(){$("#pagenotice").load("/global/notice.html");});</script>
<script>
  if('serviceWorker' in navigator) {
      navigator.serviceWorker
          .register('/sw.js', { scope: '.' })
          .then(function(registration) {
              console.log('Service Worker Registered');
          });
      navigator.serviceWorker
          .ready
          .then(function(registration) {
              console.log('Service Worker Ready');
          });
  }
</script>
{{ print "<!--Outside Site Scripts -->" | safeHTML }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
