<!DOCTYPE html>
<head>
{{ partial "head.html" . }}
</head>
{{ partial "header.html" . }}

<div class="pagetitle border">
  <h1>Blogs</h1>
</div>
<div id="pagecontent">
{{ range.Data.Pages }}
<div class="padding">
<article class="post-snippet">
  <h3>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h3>
	<div class="pagetitle"><h1>{{ .Title }}</h1><p>Published <span id="dateDisplay">{{ .PublishDate }}</span></p>
	</time></p>
  {{ .Content }}
</article>
</div>
{{ end }}
</div>
<div id="pagefooter">
{{ partial "footer.html" . }}
</div>  