<!DOCTYPE html>
<head>
{{ partial "head.html" . }}
</head>
{{ partial "header.html" . }}

<div class="pagetitle border">
  <h1>Blogs</h1>
</div>
<div id="pagecontent">
{{ range.Data.Pages }}
<div class="padding">
  <article class="post-snippet">
    <img src="{{if eq .Params.customPagePreviewImage true}}{{ .Params.customPagePreviewImageURL | absURL }}{{ else }}{{ .Site.Params.pagePreviewImage | absURL }}{{end}}">
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <a href="{{ .RelPermalink }}" style="color:black;"><p>Published {{ dateFormat "02 Jan 06 15:04 MST" .Date.Local }}</p></a>
    <a href="{{ .RelPermalink }}" style="color:black;">{{slicestr .Summary 0 200}}...</a>
  </article>
</div>
{{ end }}
</div>
<div id="pagefooter">
{{ partial "footer.html" . }}
</div>  