<!DOCTYPE html>
<head>
{{ partial "head.html" . }}
</head>
{{ partial "header.html" . }}

<div class="pagetitle border">
  <h1>Blogs</h1>
</div>
<div id="pagecontent">
{{ range.Data.Pages }}
<div class="padding">
<article class="post-snippet">
  <h3>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h3>
	<p>Published <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
		{{ .Date.Format "Mon, 02 Jan 2006 15:04:05 PHST" }}
	</time></p>
  {{ .Content }}
</article>
</div>
{{ end }}
</div>
<div id="pagefooter">
{{ partial "footer.html" . }}
</div>  